<% provide(:title, t(".title")) %>
<h1><%= t(".heading") %></h1>
<p>
  <%= t(".first_paragraph") %> <a href="https://www.railstutorial.org/"><em><%= t(".first_hyperlink") %></em></a>
  <%= t(".second_paragraph") %>
  <a href="https://www.railstutorial.org/book"><%= t(".second_hyperlink") %></a> <%= t(".third_paragraph") %>
  <a href="http://screencasts.railstutorial.org/"><%= t(".third_hyperlink") %></a>
  <%= t(".fourth_paragraph") %>
  <a href="http://rubyonrails.org/"><%= t(".final_hyperlink") %></a><%= t(".final_paragraph") %>
</p>
