<% provide(:title, t(".title")) %>
<h1><%= t(".heading") %></h1>
<p>
  <%= t(".first_paragraph") %>
  <a href="https://www.railstutorial.org/help"><%= t(".first_hyperlink") %></a>.
  <%= t(".second_paragraph") %>
  <a href="https://www.railstutorial.org/book"><em><%= t(".second_hyperlink") %></em>
    <%= t(".final_paragraph") %></a>.
</p>
